body{
    background-image: url(../dust_scratches/dust_scratches.png);
    position: relative;
}


.name {
    color: #ececec;
    margin: 0;
    float:left;
    padding:10px;
    height: 75px;
    background:#13547a;
    /* border-bottom: 5px solid #ff9a9e ; */
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: bold;
}

.nav    {
    background:#13547a;
    /* border-bottom: 5px solid #ff9a9e ; */
    padding: 10px;
    height:75px;
    opacity: 50%;

  

}

.nav-link {
    color:#ececec;
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    
    
}

.nav-link li + li:before {
    content: "|";
    padding: 10px;
}

.nav-link:hover {
    background:white;
    border-radius: 15px; 
    color: #09203f;

}
#bio-pic {
    width:300px;
    border: 2px;
}

.container {
    margin:0;
}

.col-md-4 {

    margin-top:30px;

}

.col-lg-8 {

    margin-top:30px;
    padding:25px;
    font-size: 34px;
    color: white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    background-image: linear-gradient(#09203f,#14547a);
}

.connect{
    margin-top: 20px;
    text-align: center;
    font-size: 34px;
    color:#13547a;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
}

.connect_logos {
    width: 80px;
    margin:20px;
}

.connect_logos:hover {
    opacity:.65;
}

.connect_form {

    background-image: linear-gradient(#09203f,#14547a);
    border-radius: 10px;
    color:white;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
    height:375px;
    margin-bottom:75px;
    margin-left:25%;
    margin-top:25px;
    margin-right:25%;
    padding: 20px;
 
    /* opacity:.85; */

}


footer {
    background:#13547a;
    height:50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left:0;
    

}





.card {
margin-top: 15px;
float:left;

}