body{
    background-image: url(../dust_scratches/dust_scratches.png);
}


.name {
    color: #76323F;
    margin: 0;
    float:left;
    padding:10px;
    height: 60px;
    background:#d5d5d5;
    border-bottom: 5px solid #96858F;

}

.nav    {
    background: #9099A2;
    border-bottom: 5px solid #d5d5d5;
    padding: 5px;
    height:60px;
    opacity: 75%;

  

}

.nav-link {
    color:white;
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 20px;
    
    
}

.nav-item li + li:before {
    content: "|";
    padding: 15px;
}

.nav-link:hover {
    color: #76323F;
}


.card {
margin-top: 15px;
float:left;

}