body{
    background-image: url(../dust_scratches/dust_scratches.png);
    /* background-image: url(../sos/sos.png) */
    /* background-image: url(../white-waves/white-waves.png) */
}


.name {
    color: #ececec;
    margin: 0;
    float:left;
    padding:10px;
    height: 75px;
    background:#13547a;
    /* border-bottom: 5px solid #ff9a9e ; */
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
    font-weight: bold;
}

.nav    {
    background:#13547a;
    /* border-bottom: 5px solid #ff9a9e ; */
    padding: 10px;
    height:75px;
    opacity: 50%;

  

}

.nav-link {
    color:#ececec;
    font-variant: small-caps;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 23px;
    
    
}

.nav-item li + li:before {
    content: "|";
    padding: 15px;
}

.nav-link:hover {
    color: white;
}

footer {
    background:#13547a;
    height:65px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


.connect{
    margin-top: 20px;
    text-align: center;
    color:#13547a;
    font-family: 'Montserrat' , sans-serif;
    font-weight: bold;
}

.card {
margin-top: 15px;
float:left;

}